services:
  traefik:
    image: traefik:v3.0
    container_name: traefik_container
    hostname: traefik_host
    networks:
      - traefik-net
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080' # Порт для дашборда
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
    restart: always
    environment:
      - DOCKER_API_VERSION=1.44
    command:
      # 1. Docker провайдер
      - '--providers.docker=true' #Включает поддержку Docker как источника конфигурации.
      - '--providers.docker.exposedbydefault=false' #Запрещает автоматическую публикацию всех контейнеров.
      - '--providers.docker.network=traefik-net' # Указывает сеть Docker по умолчанию для взаимодействия.
      #- '--providers.docker.version=1.44' #Для совместимости версий Докер на сервер и в Траефик
      # 2. Дашбоард
      # Включаем дашборд (БЕЗ insecure!)
      - '--api.dashboard=true'
      # Создаем точку входа специально для порта 8080
      - '--entrypoints.dashboard.address=:8080'

      # 3. команды отвечают за то, как сервер принимает входящий трафик (порты) и как он защищает его с помощью шифрования SSL (HTTPS)
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'
      - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
      - '--entrypoints.web.http.redirections.entryPoint.scheme=https'

      # 4. Настройка SSL сертификатов (Let's Encrypt / ACME)
      - '--certificatesresolvers.myresolver.acme.tlschallenge=true'
      - '--certificatesresolvers.myresolver.acme.email=i727i@mail.ru'
      - '--certificatesresolvers.myresolver.acme.storage=/acme.json'

    labels:
      - 'traefik.enable=true'

      # Роутер для дашборда: ловит любой запрос на порт 8080. http://IP-сервера:8080/dashboard/
      - 'traefik.http.routers.dashboard.rule=PathPrefix(`/`)'
      - 'traefik.http.routers.dashboard.entrypoints=dashboard'
      - 'traefik.http.routers.dashboard.service=api@internal'

      # Применяем авторизацию
      - 'traefik.http.routers.dashboard.middlewares=auth'
      # admin:password (используйте двойные $$ для экранирования в compose)
      - 'traefik.http.middlewares.auth.basicauth.users=admin:$$2y$$05$$6nzCT5uL3YHZPqX7e8adyOjxT1ZBPVqyglCPgGcjce2iq0h1LQLMa'

networks:
  traefik-net:
    external: true
