services:
  traefik:
    image: traefik:v2.11
    container_name: traefik_container
    # От root запускать больше не обязательно, но можно оставить для надежности
    user: root 
    networks:
      - traefik-net
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
    restart: always
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik-net"
      
      - "--api.dashboard=true"
      - "--entrypoints.dashboard.address=:8080"
      
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      
      # Редирект в v2 чуть-чуть другой по синтаксису (через entryPoint)
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=i727i@mail.ru"
      - "--certificatesresolvers.myresolver.acme.storage=/acme.json"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=PathPrefix(`/`)"
      - "traefik.http.routers.dashboard.entrypoints=dashboard"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=admin:$$2y$$05$$6nzCT5uL3YHZPqX7e8adyOjxT1ZBPVqyglCPgGcjce2iq0h1LQLMa"

networks:
  traefik-net:
    external: true
